@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/Gilroy/Gilroy-Light.otf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(fonts/Gilroy/Gilroy-ExtraBold.otf);
}

body {
	font-family: 'Gilroy-Light';
	padding: 0;
	margin: 0;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	z-index: 1;
}
.header {
	display: flex;
	justify-content: space-between;
	position: absolute;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 20px 18px 0px 18px;
	background-color: #ec3131;
	box-sizing: border-box;
}

.header i{
	width: 20px;
	align-self: center;
	color: #fff;
	font-size: 20px;
}

.header span{
	align-self: center;
	color: #fff;
	font-size: 18px;
	font-family: 'Gilroy-Bold';
}

.pop-up-menu {
	display: none;
	position: absolute;
	width: 180px;
	right: 15px;
	top: 75px;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	z-index: 2;
}

.pop-up-menu .menu img{
	align-self: center;
	margin-right: 15px;
}
.pop-up-menu .menu span{
	align-self: center;
	font-family: 'Gilroy-Light';
	color: #000 !important;
}

.pop-up-menu .menu{
	display: flex;
	padding: 15px 5px;
}

.footer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 81px;
	padding: 0 30px;
	background-color: #f0f0f0;
	box-sizing: border-box;
}

.footer .nav-item {
	display: block;
	align-self: center;
	text-align: center;
}

.footer .nav-item i {
	font-size: 21px;
	color: #a6a6a6;
}

.footer .nav-item p {
	font-size: 10px;
	color: #a6a6a6;
	margin: 3px;
}

.footer .nav-item.active i {
	color: #ec3131;
}

.footer .nav-item.active p {
	color: #ec3131;
}

.main-body {
	padding-top: 80px;
	padding-bottom: 81px;
}

.case-info-wrap{
	display: flex;
	justify-content: space-between;
	padding: 15px 17px;
}

.case-info {
	text-align: left;
}

.case-info span {
	font-size: 14px;
	color: #1A1A1A;
}

.case-info p {
	font-family: 'Gilroy-Light';
	font-size: 18px;
	font-weight: 700;
	color: #1A1A1A;
	margin: 10px 0 0 0;
}

.divider {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 26px;
	background-color: #8c8c8c;
}

.divider span {
	font-size: 12px;
	align-self: center;
	color: #fff;
}

.edit-form {
	position: relative;
	width: 100%;
	height: 50px;
	padding: 5px;
	background-color: #f0f0f0;
	box-sizing: border-box;
}

.edit-form input{
	width: 100%;
	height: 100%;
	padding: 0 0 0 10px;
	margin: 0;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	box-sizing: border-box;
}

.edit-form i {
	display: none;
	position: absolute;
	right: 15px;
	top: 16px;
}

.edit-form i.show{
	display: block;
}

.list-wrap {
	width: 100%;
	height: 250px;
}

.list-item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	padding: 0 18px;
	border-bottom: solid 1px #f0f0f0;
	box-sizing: border-box;
}

.list-item span,i{
	align-self: center;
	font-size: 17px;
	color: #a6a6a6;
}

.search-result-wrap {
	display: none;
	width: 100%;
	height: 250px;
	background-color: #dedede;
}

.search-result {
	background-color: #f0fdf4;
	border-bottom: 1px solid #777;
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.09);
}

.search-result-item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	padding: 0 18px;
	border-bottom: solid 1px #f0f0f0;
	box-sizing: border-box;
}

.search-result-item div {
	align-self: center;
}

.search-result-item div span {
	align-self: center;
	font-family: 'Gilroy-Bold'
}

.search-result-item .type {
	font-size: 12px;
}

.green {
	color: #0a0;
}

.blue {
	color: #00a;
}